.App {
    font-family: sans-serif;
    text-align: center;
  }

#external-events {
  position: absolute;
  z-index: 2;

  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  /* overflow-y: scroll; */
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
}

h2{
  text-align: center;
  padding: 7px;
}

.container{
  padding: 20px;
  border-radius: 20px;
  border: solid 2px black;
}
.rowSpacing{
  margin-bottom: 2px;
  margin-top: 10px;
}
.container-inner-color{
  background-color: white;
}
.btn-kitchen{
  border-radius: 20%;
}

body{
  background-color: #dad8d8bd;
}
.navbar{
  border-bottom: 2px solid gray;
  opacity: .6;
  transition: .5s;
}
.navbar:hover{
  opacity: 1;
}

.warningColor {
  color: #ffc108;
}

.alertColor {
  color: #dc3545;
}



.fade-in {
  animation-name: fadeIn;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}